.plan {
  display: flex;
  flex-direction: column;
}

.plan-chart {
  flex-grow: 1;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.plan-options {
  display: flex;
  margin: 20px 50px 0 50px;
  justify-content: end;
}

.plan-options button {
  padding: 15px 15px;
  background-color: white;
  border: none;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  cursor: pointer;
}

.plan-header {
  margin-left: 50px;
  margin-right: 50px;
}

.plan-header p {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.plan-refresh-button {
  background-color: rgb(211, 69, 91);
  padding: 10px 15px;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.plan-refresh-button img {
  width: 20px;
  margin-left: 10px;
}